.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
build
htmlcov

dist/
local/
.venv/
espeak-ng-data/

_skbuild/
*.egg-info/

src/piper/train/vits/monotonic_align/core.c
*.so

lightning_logs/

content/dataset_8hr/
content/dataset_24hr/
content/IISc_SPICOR_Data/
